body {
  overflow-x: hidden;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  margin: 0px;
  padding: 0px;
}

nav .logo-links-cart {
  height: 115px;
}

nav .logo-links-cart .logo a img {
  width: 205px;
  height: 25px;
}

nav .logo-links-cart .search-cart {
  cursor: pointer;
}

nav .logo-links-cart .search-cart .cart {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo-links-cart .search-cart .cart i {
  position: relative;
}

nav .logo-links-cart .search-cart .cart i .basketProductCount {
  position: absolute;
  z-index: 12;
  top: -14px;
  left: 10px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: red;
  font-size: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

nav .logo-links-cart .search-cart .cart .basketView {
  display: none;
  position: absolute;
  top: 100px;
  right: 60px;
  z-index: 15;
  background-color: white;
  max-height: 450px;
  overflow-y: scroll;
}

nav .logo-links-cart .search-cart .cart .basketView .basketProducts {
  list-style: none;
}

nav .logo-links-cart .search-cart .cart .basketView .basketProducts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .logo-links-cart .search-cart .cart .basketView .basketProducts li .name-price {
  width: 190px;
}

nav .logo-links-cart .search-cart .cart .basketView .basketProducts li .name-price p {
  font-size: 12px;
  padding-top: 10px;
}

nav .logo-links-cart .search-cart .cart .basketView .basketProducts li .name-price span {
  font-size: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 35px;
}

nav .logo-links-cart .search-cart .cart .basketView .basketProducts li .name-price span .x {
  margin-left: 5px;
}

nav .logo-links-cart .search-cart .cart .basketView .basketProducts li .basketImage img {
  width: 50px;
  margin: 10px 10px 15px 15px;
}

nav .logo-links-cart .search-cart .cart .basketView .basketProducts li i {
  font-size: 10px;
  margin-top: 30px;
  margin-right: 29px;
}

nav .logo-links-cart .search-cart .cart .basketView .total-viewCart-checkout .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  font-size: 11px;
  padding-bottom: 10px;
}

nav .logo-links-cart .search-cart .cart .basketView .total-viewCart-checkout .viewCart-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  padding-bottom: 25px;
}

nav .logo-links-cart .search-cart .cart .basketView .total-viewCart-checkout .viewCart-checkout .viewCart {
  width: 90px;
  height: 33px;
  background-color: #cc1f1f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  margin-left: 10px;
}

nav .logo-links-cart .search-cart .cart .basketView .total-viewCart-checkout .viewCart-checkout .checkout {
  width: 90px;
  height: 33px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}

nav .logo-links-cart .search-cart .text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
}

nav .logo-links-cart .search-cart:hover .basketView {
  display: block;
}

nav .logo-links-cart .search-cart .basketTotalPrice {
  margin-left: 10px;
}

nav .logo-links-cart .nav-links ul {
  font-size: 12px;
  letter-spacing: 1px;
}

nav .logo-links-cart .nav-links .sub-links {
  padding: 0;
  list-style: none;
}

nav .logo-links-cart .nav-links .sub-links li {
  display: inline-block;
  padding: 2px;
}

nav .logo-links-cart .nav-links .sub-links a:hover {
  border-bottom: 1px solid Blue;
}

nav .logo-links-cart .nav-links .sub-links a {
  text-decoration: none;
  color: #1b1b1b;
}

nav .logo-links-cart .nav-links .sub-links li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

nav .logo-links-cart .nav-links .sub-links li .home {
  background-color: white;
  height: 0px;
  position: absolute;
  top: 115px;
  z-index: 6;
  overflow: hidden;
  width: 200px;
  margin-left: -23px;
}

nav .logo-links-cart .nav-links .sub-links li .home ul {
  padding: 20px;
  list-style: none;
}

nav .logo-links-cart .nav-links .sub-links li .home ul li {
  margin-top: 10px;
}

nav .logo-links-cart .nav-links .sub-links li .home ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
}

nav .logo-links-cart .nav-links .sub-links li:hover .home {
  height: 280px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

nav .logo-links-cart .nav-links .sub-links li .pages {
  background-color: white;
  height: 0px;
  position: absolute;
  z-index: 6;
  top: 115px;
  overflow: hidden;
  width: 200px;
  margin-left: -23px;
}

nav .logo-links-cart .nav-links .sub-links li .pages ul {
  padding: 20px;
  list-style: none;
}

nav .logo-links-cart .nav-links .sub-links li .pages ul li {
  margin-top: 10px;
}

nav .logo-links-cart .nav-links .sub-links li .pages ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
}

nav .logo-links-cart .nav-links .sub-links li:hover .pages {
  height: 140px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

nav .logo-links-cart .nav-links .sub-links li .shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  height: 0px;
  position: absolute;
  z-index: 6;
  top: 115px;
  left: 8%;
  overflow: hidden;
  width: 1265px;
}

nav .logo-links-cart .nav-links .sub-links li .shop ul {
  padding: 25px;
  list-style: none;
}

nav .logo-links-cart .nav-links .sub-links li .shop ul li {
  margin-top: 0px;
  height: 10%;
}

nav .logo-links-cart .nav-links .sub-links li .shop ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
}

nav .logo-links-cart .nav-links .sub-links li:hover .shop {
  height: 500px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio {
  background-color: white;
  height: 0px;
  position: absolute;
  z-index: 1;
  top: 115px;
  visibility: hidden;
  width: 200px;
  margin-left: -23px;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio ul {
  padding: 20px;
  list-style: none;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio ul li {
  margin-top: 7px;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-layouts {
  background-color: white;
  height: 250px;
  visibility: hidden;
  position: absolute;
  top: 50%;
  z-index: 2;
  left: 200px;
  overflow: hidden;
  width: 230px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-layouts ul {
  padding: 20px;
  list-style: none;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-layouts ul li {
  padding-top: 7px;
  margin-top: 0px;
  height: 20%;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-layouts ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolioLayoutsLi:hover .portfolio-inner-layouts {
  max-height: 180px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: visible;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-single {
  background-color: white;
  height: 180px;
  position: absolute;
  visibility: hidden;
  top: 70%;
  z-index: 2;
  left: 200px;
  overflow: hidden;
  width: 200px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-single ul {
  padding: 20px;
  list-style: none;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-single ul li {
  padding-top: 8px;
  margin-top: 0px;
  height: 20%;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-single ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolioSingleLi:hover .portfolio-inner-single {
  height: 180px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: visible;
}

nav .logo-links-cart .nav-links .sub-links li:hover .portfolio {
  height: 200px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  visibility: visible;
}

nav .logo-links-cart .nav-links .sub-links li .blog {
  background-color: white;
  height: 0px;
  position: absolute;
  opacity: 0;
  z-index: 6;
  top: 115px;
  visibility: hidden;
  width: 200px;
  margin-left: -23px;
}

nav .logo-links-cart .nav-links .sub-links li .blog ul {
  padding: 20px;
  padding-right: 2px;
  list-style: none;
}

nav .logo-links-cart .nav-links .sub-links li .blog ul li {
  margin-top: 10px;
}

nav .logo-links-cart .nav-links .sub-links li .blog ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
}

nav .logo-links-cart .nav-links .sub-links li .blog .blog-inner-post {
  background-color: white;
  height: 230px;
  visibility: hidden;
  position: absolute;
  top: 50%;
  z-index: 2;
  left: 200px;
  overflow: hidden;
  width: 200px;
}

nav .logo-links-cart .nav-links .sub-links li .blog .blog-inner-post ul {
  padding: 20px;
  list-style: none;
}

nav .logo-links-cart .nav-links .sub-links li .blog .blog-inner-post ul li {
  padding-top: 10px;
  margin-top: 0px;
  height: 20%;
}

nav .logo-links-cart .nav-links .sub-links li .blog .blog-inner-post ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

nav .logo-links-cart .nav-links .sub-links li .blog .blogPostLi:hover .blog-inner-post {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: visible;
}

nav .logo-links-cart .nav-links .sub-links li:hover .blog {
  height: 140px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

nav .logo-links-cart .nav-links .sub-links li .elements {
  background-color: white;
  height: 0px;
  position: absolute;
  z-index: 6;
  top: 115px;
  overflow: hidden;
  width: 200px;
  margin-left: -23px;
}

nav .logo-links-cart .nav-links .sub-links li .elements ul {
  padding: 20px;
  list-style: none;
}

nav .logo-links-cart .nav-links .sub-links li .elements ul li {
  margin-top: 10px;
}

nav .logo-links-cart .nav-links .sub-links li .elements ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
}

nav .logo-links-cart .nav-links .sub-links li:hover .elements {
  height: 160px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

nav .menu-icon {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1500;
}

nav .menu {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  width: 375px;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

nav .menu .closeX {
  padding: 10px;
  font-size: 19px;
}

nav .menu .menu-nav-links {
  padding: 28px;
}

nav .menu .menu-nav-links #menuNavLinksUl li a {
  font-size: 11px;
}

nav .menu .menu-nav-links span i {
  font-size: 8px;
  position: relative;
  left: 1px;
  bottom: 1px;
}

nav .menu .menu-nav-links .myRotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .menu .menu-nav-links ul li .menuHome {
  margin-left: 10px;
  display: none;
}

nav .menu .menu-nav-links ul li .menuHome li a {
  font-size: 12px;
}

nav .menu .menu-nav-links ul li .menuPages {
  display: none;
  margin-left: 10px;
}

nav .menu .menu-nav-links ul li .menuPages li a {
  font-size: 13px;
}

nav .menu .menu-nav-links ul li .menuShop {
  display: none;
  margin-left: 10px;
}

nav .menu .menu-nav-links ul li .menuShop .pt {
  display: none;
}

nav .menu .menu-nav-links ul li .menuShop .sp {
  display: none;
}

nav .menu .menu-nav-links ul li .menuShop .st {
  display: none;
}

nav .menu .menu-nav-links ul li .menuShop .sl {
  display: none;
}

nav .menu .menu-nav-links ul li .menuShop ul {
  list-style: none;
}

nav .menu .menu-nav-links ul li .menuShop ul li a {
  text-decoration: none;
  font-size: 13px;
}

nav .menu .menu-nav-links ul li .menuShop h4 {
  font-size: 16px;
}

nav .menu .menu-nav-links ul li .menuPortfolio {
  margin-left: 10px;
  display: none;
}

nav .menu .menu-nav-links ul li .menuPortfolio ul {
  list-style: none;
}

nav .menu .menu-nav-links ul li .menuPortfolio ul li a {
  text-decoration: none;
}

nav .menu .menu-nav-links ul li .menuPortfolio .menuPortfolioLayoutsLi .menuPortfolio-inner-layouts {
  display: none;
}

nav .menu .menu-nav-links ul li .menuPortfolio li ul {
  list-style: none;
  font-size: 12px;
}

nav .menu .menu-nav-links ul li .menuPortfolio li a {
  font-size: 13px;
  text-decoration: none;
}

nav .menu .menu-nav-links ul li .menuPortfolio .menuPortfolioSingleLi .menuPortfolio-inner-single {
  display: none;
}

nav .menu .menu-nav-links ul li .menuBlog {
  display: none;
  margin-left: 10px;
}

nav .menu .menu-nav-links ul li .menuBlog ul {
  list-style: none;
}

nav .menu .menu-nav-links ul li .menuBlog ul li a {
  font-size: 12px;
}

nav .menu .menu-nav-links ul li .menuBlog ul .menuBlogPostLi .menuBlog-inner-post {
  display: none;
}

nav .menu .menu-nav-links ul li .menuBlog ul .menuBlogPostLi .menuBlog-inner-post ul {
  list-style: none;
}

nav .menu .menu-nav-links ul li .menuBlog ul .menuBlogPostLi .menuBlog-inner-post ul li a {
  text-decoration: none;
  font-size: 13px;
}

nav .menu .menu-nav-links ul a {
  text-decoration: none;
  color: black;
}

nav .menuElements {
  display: none;
}

nav .menuElements ul li {
  padding-left: 8px;
}

nav .menuElements ul li a {
  font-size: 12px;
}

main #flowers3 {
  position: relative;
}

main #flowers3 .imagesSlide {
  overflow: hidden;
}

main #flowers3 .imagesSlide .imgScale {
  position: relative;
}

main #flowers3 .imagesSlide .imgScale img {
  opacity: 0;
  position: relative;
  z-index: -2;
  -webkit-animation: linear 0s normal none infinite running zoom;
          animation: linear 0s normal none infinite running zoom;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  width: 100%;
  height: 477px;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
}

main #flowers3 .imagesSlide .clickright {
  position: absolute;
  -webkit-transform: translate(1%, -50%);
          transform: translate(1%, -50%);
  font-size: 45px;
  top: 50%;
  right: 1%;
  color: #c2c2c2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  cursor: pointer;
}

main #flowers3 .imagesSlide .clickright:hover {
  color: black;
}

main #flowers3 .imagesSlide .clickleft {
  position: absolute;
  -webkit-transform: translate(1%, -50%);
          transform: translate(1%, -50%);
  font-size: 45px;
  top: 50%;
  left: 1%;
  color: #c2c2c2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  cursor: pointer;
}

main #flowers3 .imagesSlide .clickleft:hover {
  color: black;
}

main #flowers3 .flowersInfo {
  margin-left: 5%;
  -webkit-transition: 5.5s;
  transition: 5.5s;
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(5%, -50%);
          transform: translate(5%, -50%);
  width: 380px;
}

main #flowers3 .flowersInfo .Infos {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #flowers3 .flowersInfo .Infos .titleInfo span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 500;
  margin-left: 10px;
  font-weight: lighter;
  line-height: 1;
}

main #flowers3 .flowersInfo .Infos .titleInfo span:nth-child(2) {
  color: red;
}

main #flowers3 .flowersInfo .descInfo {
  margin-top: 25px;
}

main #flowers3 .flowersInfo .descInfo p {
  opacity: 60%;
  padding-left: 10px;
  font-size: 14px;
}

main #flowers3 .flowersInfo .signatureInfo {
  padding-left: 10px;
  margin-top: 25px;
}

main #flowers3 .flowersInfo .signatureInfo img {
  width: 190px;
}

main #productList {
  padding-bottom: 50px;
  margin-top: 50px;
}

main #productList .title-filter .productTitle #productListCategory {
  display: none;
}

main #productList .title-filter .productTitle ul {
  margin-bottom: 20px;
}

main #productList .title-filter .productTitle ul li {
  list-style: none;
}

main #productList .title-filter .productTitle ul li a {
  text-decoration: none;
  color: grey;
  font-size: 12px;
}

main #productList .title-filter .productTitle #dropDownCategory {
  width: 200px;
  height: 300px;
  background-color: white;
  position: relative;
  bottom: 15px;
  z-index: 15265541;
  display: none;
  max-height: 160px;
}

main #productList .title-filter .productTitle #dropDownCategory .flowerTypes li a {
  color: black;
}

main #productList .products {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #productList .products .product {
  cursor: pointer;
  margin-top: 15px;
}

main #productList .products .product:hover .text {
  opacity: 1;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #productList .products .product:hover .price {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #productList .products .product .text {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #productList .products .product .image {
  overflow: hidden;
  position: relative;
}

main #productList .products .product .image .sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 29px;
  background-color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  z-index: 10;
}

main #productList .products .product .image .sale span {
  color: black;
}

main #productList .products .product .image .sold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 29px;
  background-color: black;
  position: absolute;
  top: 15px;
  left: 15px;
  text-align: center;
  z-index: 10;
}

main #productList .products .product .image .sold span {
  color: white;
}

main #productList .products .product .image:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main #productList .products .product .image img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 295px;
  height: 380px;
}

main #productList .products .product .productName {
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 1.5px;
}

main #productList .products .product .productPrice {
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  color: grey;
}

main #productList .products .product .productPrice .price {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  right: 35px;
}

#video {
  background-color: #f7f7f7;
}

#video .video-article {
  padding: 10% 0px;
}

#video .video-article .videoImg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
}

#video .video-article .videoImg .icon {
  position: absolute;
  z-index: 10;
}

#video .video-article .videoImg .icon i {
  color: white;
  background-color: red;
  border-radius: 50%;
  font-size: 85px;
}

#video .video-article .videoImg img {
  width: 650px;
  height: 420px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#video .video-article .videoImg img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#video .video-article .article .title {
  margin-top: 20px;
}

#video .video-article .article .title h5 {
  line-height: 120%;
  font-size: 35px;
}

#video .video-article .article .title h5 span {
  color: red;
}

#video .video-article .article .desc {
  margin-top: 15px;
}

#video .video-article .article .list ul {
  margin-top: 15px;
  list-style: none;
  font-size: 20px;
}

#video .video-article .article .list ul li {
  margin-top: 8px;
}

#flowerExpert .info-experts .info {
  margin-top: 10%;
}

#flowerExpert .info-experts .info .title {
  text-align: center;
}

#flowerExpert .info-experts .info .title h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 38px;
}

#flowerExpert .info-experts .info .desc {
  text-align: center;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

#flowerExpert .info-experts .experts {
  padding-bottom: 10%;
}

#flowerExpert .info-experts .experts .expert {
  margin-top: 6%;
  text-align: center;
}

#flowerExpert .info-experts .experts .expert .expName {
  font-size: 14px;
  margin-top: 8%;
}

#flowerExpert .info-experts .experts .expert .expProfession {
  font-size: 12px;
  margin-top: 3%;
  color: grey;
}

#myParallax .parallax-window {
  min-height: 500px;
  background: transparent;
}

#myParallax .parallax-window .parallaxText {
  position: relative;
  top: 35%;
}

#myParallax .parallax-window .parallaxText h2 {
  color: white;
}

#myParallax .parallax-window .registration button {
  height: 60px;
  width: 32%;
  padding: 0;
  background-color: #f64b3a;
  color: #fce3ff;
  font-size: 13px;
  border: solid 1px #f64b3a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 4%;
}

#myParallax .parallax-window .registration button:hover {
  background-color: #fe3e2b;
  border: solid 1px #fe3e2b;
}

#myParallax .parallax-window .registration input {
  width: 466px;
  height: 60px;
  padding: 0;
  font-size: 12px;
  padding-left: 3%;
  margin-top: 4%;
}

#blog {
  background-color: #f8f8f8;
}

#blog .blogArticle {
  padding-top: 8%;
}

#blog .blogArticle .blogDesc {
  padding-top: 1%;
  padding-bottom: 2%;
  color: grey;
}

#blog .blogImages .blogImage .image {
  overflow: hidden;
  cursor: pointer;
}

#blog .blogImages .blogImage .image .date {
  width: 98px;
  height: 32px;
  background-color: white;
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 9px;
}

#blog .blogImages .blogImage .image .date span {
  color: black;
  font-size: 11px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#blog .blogImages .blogImage .image .date span:hover {
  color: red;
}

#blog .blogImages .blogImage .image img {
  height: 266px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#blog .blogImages .blogImage .image img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#blog .blogImages .blogImage .imageName {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 4%;
  cursor: pointer;
}

#blog .blogImages .blogImage .imageDesc {
  text-align: center;
  color: grey;
  padding-bottom: 20%;
}

#slider .owl-carousel .item .sliderInfosImage {
  padding-top: 6%;
  padding-bottom: 7%;
}

#slider .owl-carousel .item .sliderInfosImage .innerSliderInfosImage .sliderImage img {
  padding-bottom: 15px;
}

footer .footer {
  background-color: #fefaf3;
}

footer .footer .topFooter ul {
  padding-top: 6%;
  padding-bottom: 4%;
  list-style: none;
}

footer .footer .topFooter ul h5 {
  margin-bottom: 19px;
  font-size: 13px;
}

footer .footer .topFooter ul li a {
  text-decoration: none;
  color: grey;
  font-size: 11px;
}

footer .footer .bottomFooter {
  margin-top: 10px;
  padding-bottom: 15px;
}

footer .footer .bottomFooter .rights {
  font-size: 12px;
  color: grey;
}

footer .footer .bottomFooter .socialMedia span {
  margin-right: 15px;
}

footer .footer .bottomFooter .socialMedia span a {
  text-decoration: none;
  color: grey;
  font-size: 11px;
}
/*# sourceMappingURL=style.css.map */