body {
    overflow-x: hidden;
}

ul {
    margin: 0px;
    padding: 0px;
}


li {
    margin: 0px;
    padding: 0px;
}


    nav {

        .logo-links-cart {
            height: 115px;

            .logo {
                a {
                    img {
                        width: 205px;
                        height: 25px;
                    }
                }
            }

            .search-cart {
                cursor: pointer;

                .cart {
                    height: 100%;
                    display: flex;
                    align-items: center;

                    i {
                        position: relative;

                        .basketProductCount {
                            position: absolute;
                            z-index: 12;
                            top: -14px;
                            left: 10px;
                            height: 18px;
                            width: 18px;
                            border-radius: 50%;
                            background-color: red;
                            font-size: 9px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                        }
                    }

                    .basketView {
                        display: none;
                        position: absolute;
                        top: 100px;
                        right: 60px;
                        z-index: 15;
                        background-color: white;
                        max-height: 450px;
                        overflow-y: scroll;

                        .basketProducts {
                            list-style: none;

                            li {
                                display: flex;
                                justify-content: space-evenly;

                                .name-price {
                                    width: 190px;

                                    p {
                                        font-size: 12px;
                                        padding-top: 10px;
                                    }

                                    span {
                                        font-size: 11px;
                                        box-sizing: border-box;
                                        margin-bottom: 35px;

                                        .x {
                                            margin-left: 5px;
                                        }
                                    }
                                }

                                .basketImage {
                                    img {
                                        width: 50px;
                                        margin: 10px 10px 15px 15px;
                                    }
                                }

                                i {
                                    font-size: 10px;
                                    margin-top: 30px;
                                    margin-right: 29px;

                                }
                            }
                        }

                        .total-viewCart-checkout {
                            .total {
                                display: flex;
                                justify-content: space-between;
                                margin-left: 10px;
                                font-size: 11px;
                                padding-bottom: 10px;
                            }

                            .viewCart-checkout {
                                display: flex;
                                justify-content: space-between;
                                width: 250px;
                                padding-bottom: 25px;

                                .viewCart {
                                    width: 90px;
                                    height: 33px;
                                    background-color: rgb(204, 31, 31);
                                    color: white;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 10px;
                                    margin-left: 10px;
                                }

                                .checkout {
                                    width: 90px;
                                    height: 33px;
                                    background-color: black;
                                    color: white;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 10px;
                                }
                            }
                        }
                        
                    }
                }

                .text {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 15px;
                }

                &:hover .basketView {
                    display: block;
                }
                .basketTotalPrice{
                    margin-left: 10px;
                }
            }

            .nav-links {
                ul {
                    font-size: 12px;
                    letter-spacing: 1px;
                }

                .sub-links {
                    padding: 0;
                    list-style: none;
                    li {
                        display: inline-block;
                        padding: 2px;
                    }

                    a:hover {
                        border-bottom: 1px solid Blue;


                    }

                    a {
                        text-decoration: none;
                        color: #1b1b1b;

                    }

                    li {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        .home {
                            background-color: white;
                            height: 0px;
                            position: absolute;
                            top: 115px;
                            z-index: 6;
                            overflow: hidden;
                            width: 200px;
                            margin-left: -23px;

                            ul {
                                padding: 20px;
                                list-style: none;

                                li {
                                    margin-top: 10px;

                                    a {
                                        text-decoration: none;
                                        color: #1b1b1b;
                                        font-size: 14px;

                                    }
                                }
                            }
                        }

                        &:hover .home {
                            height: 280px;
                            transition: 0.2s;
                            transition-delay: 0.1s;
                        }

                        .pages {
                            background-color: white;
                            height: 0px;
                            position: absolute;
                            z-index: 6;
                            top: 115px;
                            overflow: hidden;
                            width: 200px;
                            margin-left: -23px;

                            ul {
                                padding: 20px;
                                list-style: none;

                                li {
                                    margin-top: 10px;

                                    a {
                                        text-decoration: none;
                                        color: #1b1b1b;
                                        font-size: 14px;

                                    }
                                }
                            }
                        }

                        &:hover .pages {
                            height: 140px;
                            transition: 0.2s;
                            transition-delay: 0.1s;
                        }

                        .shop {
                            display: flex;
                            justify-content: space-around;
                            background-color: white;
                            height: 0px;
                            position: absolute;
                            z-index: 6;
                            top: 115px;
                            left: 8%;
                            overflow: hidden;
                            width: 1265px;

                            ul {
                                padding: 25px;
                                list-style: none;

                                li {
                                    margin-top: 0px;
                                    height: 10%;

                                    a {
                                        text-decoration: none;
                                        color: #1b1b1b;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        &:hover .shop {
                            height: 500px;
                            transition: 0.3s;
                        }

                        .portfolio {
                            background-color: white;
                            height: 0px;
                            position: absolute;
                            z-index: 1;
                            top: 115px;
                            visibility: hidden;
                            width: 200px;
                            margin-left: -23px;

                            ul {

                                padding: 20px;
                                list-style: none;

                                li {

                                    margin-top: 7px;

                                    a {
                                        text-decoration: none;
                                        color: #1b1b1b;
                                        font-size: 14px;
                                    }
                                }
                            }

                            .portfolio-inner-layouts {

                                background-color: white;
                                height: 250px;
                                visibility: hidden;
                                position: absolute;
                                top: 50%;
                                z-index: 2;
                                left: 200px;
                                overflow: hidden;
                                width: 230px;
                                transition: 0.3s;

                                ul {
                                    padding: 20px;
                                    list-style: none;

                                    li {
                                        padding-top: 7px;
                                        margin-top: 0px;
                                        height: 20%;

                                        a {
                                            text-decoration: none;
                                            color: black;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }

                            .portfolioLayoutsLi:hover .portfolio-inner-layouts {
                                max-height: 180px;
                                transition: 0.3s;
                                visibility: visible;

                            }

                            .portfolio-inner-single {
                                background-color: white;
                                height: 180px;
                                position: absolute;
                                visibility: hidden;
                                top: 70%;
                                z-index: 2;
                                left: 200px;
                                overflow: hidden;
                                width: 200px;
                                transition: 0.3s;

                                ul {
                                    padding: 20px;
                                    list-style: none;

                                    li {
                                        padding-top: 8px;
                                        margin-top: 0px;
                                        height: 20%;

                                        a {
                                            text-decoration: none;
                                            color: black;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }

                            .portfolioSingleLi:hover .portfolio-inner-single {
                                height: 180px;
                                transition: 0.3s;
                                visibility: visible;
                            }

                        }

                        &:hover .portfolio {
                            height: 200px;
                            transition: 0.2s;
                            transition-delay: 0.1s;
                            visibility: visible;
                        }

                        .blog {
                            background-color: white;
                            height: 0px;
                            position: absolute;
                            opacity: 0;
                            z-index: 6;
                            top: 115px;
                            visibility: hidden;
                            width: 200px;
                            margin-left: -23px;

                            ul {
                                padding: 20px;
                                padding-right: 2px;
                                list-style: none;

                                li {
                                    margin-top: 10px;

                                    a {
                                        text-decoration: none;
                                        color: #1b1b1b;
                                        font-size: 14px;

                                    }
                                }
                            }

                            .blog-inner-post {
                                background-color: white;
                                height: 230px;
                                visibility: hidden;
                                position: absolute;
                                top: 50%;
                                z-index: 2;
                                left: 200px;
                                overflow: hidden;
                                width: 200px;

                                ul {
                                    padding: 20px;
                                    list-style: none;

                                    li {
                                        padding-top: 10px;
                                        margin-top: 0px;
                                        height: 20%;

                                        a {
                                            text-decoration: none;
                                            color: black;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }

                            .blogPostLi:hover .blog-inner-post {
                                transition: 0.3s;
                                visibility: visible;
                            }
                        }

                        &:hover .blog {
                            height: 140px;
                            transition: 0.2s;
                            visibility: visible;
                            opacity: 1;
                            transition-delay: 0.1s;
                        }

                        .elements {
                            background-color: white;
                            height: 0px;
                            position: absolute;
                            z-index: 6;
                            top: 115px;
                            overflow: hidden;
                            width: 200px;
                            margin-left: -23px;

                            ul {
                                padding: 20px;
                                list-style: none;

                                li {
                                    margin-top: 10px;

                                    a {
                                        text-decoration: none;
                                        color: #1b1b1b;
                                        font-size: 14px;

                                    }
                                }
                            }
                        }

                        &:hover .elements {
                            height: 160px;
                            transition: 0.2s;
                            transition-delay: 0.1s;
                        }
                    }
                }
            }
        }

        .menu-icon {
            display: none;
            justify-content: end;
            align-items: center;
            position: relative;
            z-index: 1500;
        }

        .menu {
            z-index: 10000;

            .closeX {
                padding: 10px;
                font-size: 19px;
            }

            position: fixed;
            top: 0;
            right:0;
            height: 100vh;
            background-color: white;
            width: 375px;
            display: none;

            transition: 0.3s;
            transition-timing-function: linear;

            .menu-nav-links {
                padding: 28px;

                #menuNavLinksUl {
                    li {
                        a {
                            font-size: 11px;
                        }
                    }
                }

                span {
                    i {
                        font-size: 8px;
                        position: relative;
                        left: 1px;
                        bottom: 1px;
                    }
                }

                .myRotate {
                    transform: rotate(90deg);
                    transition: 0.2s;
                }


                ul {
                    li {
                        .menuHome {
                            margin-left: 10px;
                            display: none;

                            li {
                                a {
                                    font-size: 12px;
                                }
                            }
                        }

                        .menuPages {
                            display: none;
                            margin-left: 10px;

                            li {
                                a {
                                    font-size: 13px;
                                }
                            }
                        }

                        .menuShop {
                            display: none;
                            margin-left: 10px;

                            .pt {
                                display: none;
                            }

                            .sp {
                                display: none;
                            }

                            .st {
                                display: none;
                            }

                            .sl {
                                display: none;
                            }

                            ul {
                                list-style: none;

                                li {
                                    a {
                                        text-decoration: none;
                                        font-size: 13px;
                                    }
                                }

                            }

                            h4 {
                                font-size: 16px;
                            }
                        }

                        .menuPortfolio {
                            margin-left: 10px;
                            display: none;

                            ul {
                                list-style: none;

                                li {
                                    a {
                                        text-decoration: none;
                                    }
                                }
                            }

                            .menuPortfolioLayoutsLi {
                                .menuPortfolio-inner-layouts {
                                    display: none;
                                }
                            }


                            li {
                                ul {
                                    list-style: none;
                                    font-size: 12px;
                                }

                                a {
                                    font-size: 13px;
                                    text-decoration: none;
                                }
                            }


                            .menuPortfolioSingleLi {
                                .menuPortfolio-inner-single {
                                    display: none;
                                }
                            }
                        }

                        .menuBlog {
                            display: none;
                            margin-left: 10px;

                            ul {
                                list-style: none;
                                li{
                                    a{
                                        font-size: 12px;
                                    }
                                }

                                .menuBlogPostLi {
                                    .menuBlog-inner-post {
                                        display: none;

                                        ul {
                                            list-style: none;

                                            li {
                                                a {
                                                    text-decoration: none;
                                                    font-size: 13px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
        .menuElements{
            display: none;
            ul{
                li{
                    padding-left: 8px;
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }


